    body {
        margin: 0;
        background-color: #202020;
    }
    
    .board-container {
        width: 80vw;
        height: 40vw;
        background-color: white;
        margin: calc(50vh - 20vw) auto;
        position: relative;
    }
    
    .paddle {
        width: 2vw;
        height: 10vw;
        background-color: #202020;
        position: absolute;
        top: 15vw;
    }
    
    .paddle.player-1 {
        left: 0;
        background-color: #0000ff;
    }
    
    .paddle.player-2 {
        right: 0;
        background-color: #ff0000;
    }
    
    .ball {
        width: 1vw;
        height: 1vw;
        background-color: #000000;
        position: absolute;
        top: 19.5vw;
        left: 39.5vw;
        border-radius: 50%;
    }
    
    h1 {
        font-size: 10vh;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        font-family: "Lucida Console", Monaco, monospace;
        z-index: 1;
    }
    
    .score1 {
        color: #0000ff;
    }
    
    .score2 {
        color: #ff0000;
    }